@import '../../variables.css';
@import '../../utils.css';
@import '../../common.css';
@import '../../helpers.css';
/** RentAll - Begin **/
.formGroup {
  margin-bottom: 6px !important;
}
.labelText{
	font-size: 15px;
  color: #767676;
  margin: 6px 0px;
  line-height: 1.43;
  font-weight: normal;
}
.button {
  display: block;
  width: 100%;
}