@import '../../components/variables.css';
.root {
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  margin: 0px auto;
  padding-top: 30px;
  max-width: var(--max-content-width);
}
.mainSection {
  background-color: #fff;
  box-shadow: 0 1px 15px 3px #eeebeb;
  margin-bottom: 60px;
  margin-top: 0px;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 1199px) {
  .mainSection {
    background-color: #fff;
    box-shadow: 0 1px 15px 3px #eeebeb;
    margin-bottom: 60px;
    margin-top: 30px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
  }
}