.root {
	margin: 0;
}
.navDropDown {
	border: 0px;
}
.userAvatar {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid #c4c4c4;
}
.breakPointScreen {
	display: none !important;
}
.nonBreakPointScreen {
	display: block !important;
}
@media screen and (max-width: 1200px) {
	.breakPointScreen {
		display: block !important;
	}
	.nonBreakPointScreen {
		display: none !important;
	}
	.newMenu {
		height: 100vh;
		background: #fff !important;
		overflow-y: scroll;
	}
	.newMenuDesign {
		margin-top: 20px;
		border-top: 1px solid #dce0e0;
	}
	.newMenuDesign {
		margin-top: 60px;
	}
}
@media(min-width:768px) and (max-width:1200px) {
	.newMenu {
		left: 0;
	}
	.newMenuDesign {
		margin-top: 60px !important;
		border-top: 1px solid #DCE0E0;
		margin-right: 0px !important;
	}
}
@media(max-width:767px) { 
    .newMenuDesign {
	    margin-top: 60px;
    }
}