@import '../../components/variables.css';
@import '../../components/helpers.css';
/** RentAll - Begin **/
.logInModalContainer {
	max-width: 450px;
}
.logInModalBody {
	padding: 20px;
}
.panelHeader {
	color: #484848;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dce0e0;
	background: #edefed;
	text-align: center;
}
.formGroup {
	margin-bottom: 6px;
}
.panelHeader {
	color: #484848;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dce0e0;
	background: #edefed;
}
.titleText {
	font-size: 16px;
	color: #767676;
}
@media screen and (max-width: 640px) {
	.logInModalContainer {
		margin: 0px auto;
	}
}