@import '../../components/variables.css';
 .root {
	padding-left: 20px;
	padding-right: 20px;
}
.container {
	margin: 0px auto;
	padding-top: 30px;
	max-width: var(--max-content-width);
}
a,
a:hover {
	color: #008489;
}
.bgColor {
	width: 100%;
	background: #F7FAFF;
}
@media (max-width: 1023px) and (min-width: 768px) {
	.bgColor {
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.bgColor {
		padding: 0 10px;
	}
}