@import '../../components/variables.css';
@import '../../components/common.css';
@import '../../components/helpers.css';
 .root {
	padding-left: 20px;
	padding-right: 20px;
}
.container {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: var(--max-content-width);
}
.textJumbo {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
}
.textMedium {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}
.textCenter {
	text-align: center;
}
.subTitle {
	font-size: 15px;
	color: #484848;
}
.firstBtn,
.firstBtn:focus,
.firstBtn:hover,
.firstBtn:active {
	margin-right: 10px !important;
}