@import '../variables.css';
@import '../siteadmin/newcommonstyle.css';
 .root {
	background: #fff;
}
.container {
	margin: 0 auto;
	padding: 0px;
	max-width: 100%;
}
.rentAllHeader {
	background: #fff;
	border-width: 0px 0px 1px 0px;
	border-color: #dce0e0;
	border-radius: 0px;
	min-height: 83px;
	line-height: 81px;
	width: 100%;
	box-shadow: none;
	margin-bottom: 0px;
	z-index: 7;
}
.fixedHeader {
	position: fixed;
	width: 100%;
	left: 0px;
	right: 0px;
	height: auto;
	max-height: 100vh;
}
.rentAllHeaderBorderLess {
	border: 0px;
	box-shadow: none;
}
.brand {
	line-height: inherit;
	vertical-align: middle;
	text-decoration: none;
	height: 81px;
	float: left;
	padding: 0px 19px;
	color: #484848;
	font-size: 24px;
	font-weight: normal;
}
.brand:hover,
.brand:focus {
	text-decoration: none;
	backface-visibility: hidden !important;
}
.brandImg {
	display: table-cell;
	padding-left: 12px;
	padding-right: 12px;
	max-width: 180px;
	backface-visibility: hidden !important;
}
.brandImg img {
	max-width: 180px;
	backface-visibility: hidden !important;
}
.brandImgToggle {
	padding-left: 12px;
	padding-right: 12px;
	backface-visibility: hidden !important;
}
.navBarToggle {
	color: #484848;
	float: right;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
	border: 0px;
	border-radius: 0px;
	margin: 0px;
	padding: 0px 19px 0px 0px;
	backface-visibility: hidden;
	height: 81px;
	margin-right: 10px;
}
.rentAllHeaderAdmin {
	background: #fff;
	border-width: 0px 0px 1px 0px;
	border-color: #dce0e0;
	border-radius: 0px;
	min-height: 63px;
	line-height: 63px;
	width: 100%;
	box-shadow: none;
	margin-bottom: 0px;
	z-index: 1001;
}
.navBarToggle:hover,
.navBarToggle:focus,
.navBarToggle:hover:focus {
	background: none !important;
}
.brandAdmin {
	line-height: inherit;
	vertical-align: middle;
	text-decoration: none;
	height: 63px;
	float: none;
	padding: 0px 19px;
	color: #484848;
	font-size: 24px;
	font-weight: normal;
}
.listHeaderFixed {
	position: fixed;
	width: 100%;
	height: 100vh;
}
.hamburgerIcon {
	font-size: 20px;
	margin-top: 20px;
	float: right;
}
@media screen and (max-width: 1200px) {
	.breakPoint {
		display: none !important;
	}
	.mobileMenu {
		position: absolute;
		width: 100%;
		background: #fff;
		top: 0px;
		height: auto;
		z-index: 5;
		right: -100%;
		transition: 0.5s;
		height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.menuOpen {
		right: 0;
		transition: 0.5s;
	}
	.menuClose {
		right: -100%;
	}
	.closeColor {
		color: #0009;
		font-size: 36px;
		position: absolute;
		display: block;
		top: -11px;
		padding: 0;
		right: 22px;
		z-index: 8;
	}
	.closeButtonPosition img {
		width: 15px;
		height: 15px;
	}
	.closeButtonPosition {
		position: fixed;
		top: 0px;
		width: 100%;
		background: #fff;
		height: 60px;
		z-index: 6;
		overflow: hidden;
	}
	.rightMenuClose {
		position: relative;
	}
}
@media screen and (max-width: 767px) {
	.rentAllHeader {
		height: auto;
		line-height: 60px;
		min-height: 65px;
  }
  .rentAllHeader {
		height: auto;
		line-height: 60px;
		min-height: 65px;
	}
	.closeColor {
		top: -2px;
	}
}
@media (max-width: 480px) and (min-width: 320px) {
	.mobileMenu {
		padding-bottom: 80px;
	}
}