@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/helpers.css';

/** RentAll - Begin **/
.formGroup {
	margin-bottom: 6px;
	position: relative;
}
.formControlInput {
	padding: 12px 35px 15px 10px !important;
	margin: 5px 0 0 0;
}
select {
	background-position: 96% 9px;
}
.Birthpadding {
	padding: 12px 0 0 1px;
}
.paddingBottom {
	padding-bottom: 7px;
}
.birthForm {
	height: 40px;
	font-size: 14px;
}
.backgroundOne {
	background-position: 98% 50%;
}
.backgroundTwo {
	background-position: 98% 50%;
}
.backgroundThree {
	background-position: 98% 50%;
}