@import '../variables.css';
 .root {
	padding: 12px 32px 32px 32px;
}
.container {
	margin: 0 auto;
	padding: 0px;
	max-width: 380px;
}
/** RentAll - Begin **/
.logInModalContainer {
	max-width: 568px;
	width: 100%;
	padding: 10px;
}
.logInModalBody {
	padding: 0px;
}
.forgetHead {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
	.logInModalContainer {
		margin: 0px auto;
	}
	.root {
		padding: 15px;
	}
}