@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';
@import '../../components/helpers.css';
.panelHeader {
	border-radius: 0;
	width: 100%;
	display: block;
	color: #484848;
	font-size: 16px;
	padding-bottom: 0px;
	border-bottom: 1px solid #dce0e0;
	margin-bottom: 0px;
}
a {
	color: var(--btn-secondary-bg);
	text-decoration: none;
}
a:hover {
	color: var(--btn-secondary-bg);
	cursor: pointer;
}
.labelText {
	font-size: 14px;
	color: #484848;
	font-weight: normal;
	margin-bottom: 12px;
	margin-top: 12px;
}
.formControlInput {
	display: block;
	padding: 8px 10px !important;
	width: 100%;
}
.formGroup {
	margin-bottom: 6px;
}
.textRight {
	text-align: right;
}
.textAlignRight {
	text-align: right;
}
@media screen and (max-width: 767px) {
	.labelText {
		margin-top: 0px;
	}
	.textRight {
		text-align: left;
	}
}