@import '../../variables.css';
@import '../../utils.css';
@import '../../helpers.css';
.panelHeader {
	border-radius: 0;
	width: 100%;
	display: block;
	color: #484848;
	font-size: 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid #dce0e0;
}
.formControlInput {
	display: block;
	padding: 8px 10px !important;
	width: 100%;
}
.textRight {
	text-align: right;
}
.formGroup {
	margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
	.textRight {
		text-align: left;
	}
}